:root {
  --accent: #041A26;
  --border-width: 4px;
  --border-radius: 55px;
  --font-size: 20px;
}
.cd-container {
    display: grid;
    grid-template-columns: auto 1fr ; /* Two columns of equal width */
    grid-template-rows: auto; /* Single row */
    gap: 0px; /* Gap between columns */
  }
  
  .cd-left {
    height: 100%;
    width: fit-content;
    background-color: aqua;
    overflow-y: hidden;
  }
  
  .cd-right {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
  }

.cd-right .cd-header{
    width: 100%;
    text-align: left;
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    border-bottom: 1px solid #e3e8ed;

    /* background: #59aed2; */
}

.cd-right .cd-opt{
    width: 100%;
    text-align: left;
    padding: 10px;
    height: 350px;
    padding: 40px;

    /* background-color: #c635a2; */
}

.cd-right .cd-opt .cd-choose{
    display: flex;
    padding: 26px 0 20px;
    border-bottom: 1px solid #e3e8ed;
    width: 93%;
}

.cd-right .cd-ml{
    width: 100%;
    text-align: left;
    padding: 10px;
    height: 170px;
    padding: 30px;

    /* background-color: rgb(214, 12, 12); */
}

.cd-right .cd-ml .cd-choose{
    display: flex;
    margin-top: 10px;
    padding: 26px 0 20px;
    border-bottom: 1px solid #e3e8ed;
    width: max-content;
}

.cd-right .cd-ml .cd-choose .cd-icons{
  margin-left: 10px;
}

.cd-icons{
    margin-right: 20px;
    font-size: large;
}

.cd-choose .cd-info{
    margin-right: 50px;
    width: 400px;
}

.cd-choose .cd-gm{
    width: 400px;
    margin-right: 50px;
    font-size: large;
}

.cd-info-head{
    font-size: 1.2rem;
    font-weight: bold;
}

.cd-right .cd-ml .cd-info-head{
    margin-top: -80px;
}
.cd-right #btn-policy{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    justify-content: center;
    background-color: #fff;
    color: black;
    border: 2px solid black;
    margin-top: -5px;
    margin-right: 900px;
}

.cd-right #btn-policy:hover{
    cursor: pointer;
    background-color: #041A26;
    color: #fff;
    transition: all 0.5s ease;
}

.cd-choose #bp-select{
    width: 250px;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: medium;
    justify-content: center;
    border: 2px solid black;
}

.cd-choose #bp-select:hover,#np-num:hover, #np-select:hover{
    cursor: pointer;
}

.cd-choose #np-select{
    width: 100px;
    height: 50px;
    border-radius: 0 10px 10px 0;
    text-align: center;
    font-size: medium;
    justify-content: center;
    border-width: 2px 2px 2px 1px;
    border-style: solid;
    border-color: black;
}

.cd-choose #np-num{
    width: 150px;
    height: 50px;
    border-radius: 10px 0 0 10px;
    text-align: center;
    font-size: large;
    justify-content: center;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: black;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Apply background blur */
    
  }

  .modal .modal-content .modal-title{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }

  .modal .modal-content .modal-title h2{
    font-size: 1.5rem;
  }

  .modal .modal-content .modal-title #modal-cl{
    font-size: 1.8rem;
    justify-self: flex-end;
    opacity: 0.5;
    margin-left: 300px;
  }

  .modal .modal-content .modal-title #modal-cl:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1.3);
    transition: 0.5s;
  }

  .modal .modal-content p{
    font-size: 1.5rem;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .pol_container_one,.pol_container_two {
    perspective: 800px;
  }
  
  .pol_toggle_one,.pol_toggle_two {
    position: relative;
    border: solid var(--border-width) var(--accent);
    border-radius: var(--border-radius);
    transition: transform cubic-bezier(0, 0, 0.30, 2) .4s;
    transform-style: preserve-3d;
    perspective: 800px;
  }
  
  .pol_toggle_one>input[type="radio"] {
    display: none;
  }

  .pol_toggle_two>input[type="radio"] {
    display: none;
  }
  
  .pol_toggle_one>#choice1:checked~#pol_flap_one {
    transform: rotateY(-180deg);
  }
  
  .pol_toggle_one>#choice1:checked~#pol_flap_one>.pol_content_one {
    transform: rotateY(-180deg);
  }
  
  .pol_toggle_one>#choice2:checked~#pol_flap_one {
    transform: rotateY(0deg);
  }

  .pol_toggle_two>#choice3:checked~#pol_flap_two {
    transform: rotateY(-180deg);
  }
  
  .pol_toggle_two>#choice3:checked~#pol_flap_two>.pol_content_two {
    transform: rotateY(-180deg);
  }
  
  .pol_toggle_two>#choice4:checked~#pol_flap_two {
    transform: rotateY(0deg);
  }
  
  .pol_toggle_one>label {
    display: inline-block;
    min-width: 170px;
    padding: 30px;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
  }
  
  .pol_toggle_one>label,
  .pol_toggle_one>#flap {
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .pol_toggle_one>#pol_flap_one {
    position: absolute;
    top: calc( 0px - var(--border-width));
    left: 50%;
    height: calc(100% + var(--border-width) * 2);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
  }
  
  .pol_toggle_one>#pol_flap_one>.pol_content_one {
    color: #fff;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d;
  }
  

  .pol_toggle_two>label {
    display: inline-block;
    min-width: 170px;
    padding: 30px;
    font-size: var(--font-size);
    text-align: center;
    color: var(--accent);
    cursor: pointer;
  }
  
  .pol_toggle_two>label,
  .pol_toggle_one>#flap {
    font-weight: bold;
    text-transform: capitalize;
  }
  
  .pol_toggle_two>#pol_flap_two {
    position: absolute;
    top: calc( 0px - var(--border-width));
    left: 50%;
    height: calc(100% + var(--border-width) * 2);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size);
    background-color: var(--accent);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    transform-style: preserve-3d;
    transform-origin: left;
    transition: transform cubic-bezier(0.4, 0, 0.2, 1) .5s;
  }
  
  .pol_toggle_two>#pol_flap_two>.pol_content_two {
    color: #fff;
    transition: transform 0s linear .25s;
    transform-style: preserve-3d;
  }


  