.ds-container {
    display: grid;
    grid-template-columns: auto 1fr; /* Two columns of equal width */
    grid-template-rows: auto; /* Single row */
    gap: 0px; /* Gap between columns */
  }
  
  .ds-left {
    height: 100%;
    width: fit-content;
    overflow: hidden;
  }
  
  .ds-right {
    height: 100%;
    overflow-y: auto;
  }
  